<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }}">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main>
      <div style="width: 100%; text-align: center; display: flex; justify-content: center; align-items: center;">
        <img src="{{ '/images/oscar.jpg' | relative_url }}" alt="Oscar Barlow" style="width: 33.33%; border-radius: 50%; overflow: hidden; object-fit: cover;">
      </div>
      <h1>Oscar Barlow</h1>
      <div class="rubric" style="text-align: justify;">
      {{ content }}
      </div>
    </main>
    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript>
      <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade">
    </noscript>
  </body>
</html>
