<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>
  {% if resource_title != 'Oscar Barlow' -%}
    {{- resource_title | escape }} | {{ metadata.title | escape -}}
  {%- else -%}
    {{- metadata.title | escape }} | {{ metadata.tagline | escape -}}
  {%- endif %}
</title>

<meta name="description" content="{{ metadata.description }}">

<meta property="og:title" content="{{ resource_title | strip }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ '/images/oscar.jpg' | absolute_url }}" />
<meta property="og:url" content="{{ page.absolute_url }}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% asset_path css %}">
<script src="{% asset_path js %}" defer></script>
{% live_reload_dev_js %}
